<header>
    <div class="header-top">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-4">
                    <div class="ht-left">
                        <ul>
                            <li><a href="~/about.html">About us</a></li>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Order tracking</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ht-middle">
                        <div class="news-flash">
                            <div>
                                <p>100% Secure delivery without contacting the courier</p>
                            </div>
                            <div>
                                <p>Supper Value Deals - Save more with coupons</p>
                            </div>
                            <div>
                                <p>Trendy 25silver jewelry, save up 35% off today</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ht-right">
                        <ul>
                            <li>
                                <span>Need help? Call Us:</span>
                                <strong>+ 1800 900</strong>
                            </li>
                            <li class="dropdown lang-hover">
                                <a href="#">
                                    <span>English</span>
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-content lang-dropdown">
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/theme/flag-fr.png" alt="French">
                                            <span>Français</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/theme/flag-dt.png" alt="German">
                                            <span>Deutsch</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/theme/flag-ru.png" alt="Russian">
                                            <span>Pусский</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown currency-hover">
                                <a href="#">
                                    <span>USD</span>
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-content currency-dropdown">
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/theme/flag-fr.png" alt="French">
                                            <span>INR</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/theme/flag-dt.png" alt="German">
                                            <span>MBP</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/assets/images/theme/flag-ru.png" alt="Russian">
                                            <span>EU</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="header-middle">
        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-lg-2">
                    <div class="header-logo">
                        <a asp-controller="home" asp-action="index">
                            <img src="~/assets/images/logo/logo.svg" alt="logo">
                        </a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="search-section">
                        <form action="#">
                            <div class="search-box">
                                <input type="text" placeholder="Search for items...">
                                <i class="icofont-search-1"></i>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="header-actions">

                        <div class="header-action">
                            <a href="#">
                                <div>
                                    <img src="~/assets/images/theme/icons/icon-compare.svg" alt="compare">
                                    <span>3</span>
                                </div>
                                <p>Compare</p>
                            </a>
                        </div>

                        <div class="header-action">
                            <a href="#">
                                <div>
                                    <img src="~/assets/images/theme/icons/icon-heart.svg" alt="wishlist">
                                    <span>6</span>
                                </div>
                                <p>Wishlist</p>
                            </a>
                        </div>

                        <div class="header-action">
                            <a href="~/cart.html">
                                <div>
                                    <img src="~/assets/images/theme/icons/icon-cart.svg" alt="cart">
                                    <span>2</span>
                                </div>
                                <p>Cart</p>
                            </a>
                        </div>

                        <div class="header-action">
                            <div class="dropdown account-hover">
                                <a href="#">
                                    <div>
                                        <img src="~/assets/images/theme/icons/icon-user.svg" alt="user">
                                    </div>
                                    <p>Account</p>
                                </a>
                                <div class="dropdown-content account-dropdown">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fi fi-rs-user"></i>
                                                <span>My Account</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fi fi-rs-location-alt"></i>
                                                <span>Order Tracking</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fi fi-rs-label"></i>
                                                <span>My Voucher</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fi fi-rs-heart"></i>
                                                <span>My Wishlist</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fi fi-rs-settings-sliders"></i>
                                                <span>Setting</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fi fi-rs-sign-out"></i>
                                                <span>Sign out</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom">

        <div class="trending-categories">
            <a href="#">
                <i class="fi-rs-apps"></i>
                <span>Trending Categories</span>
                <i class="fi-rs-angle-down"></i>
            </a>
        </div>

        <div class="header-menu">
            <nav>
                <ul>
                    <li>
                        <a asp-controller="home" asp-action="index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="about" asp-action="index">About</a>
                    </li>
                    <li>
                        <a asp-controller="shop" asp-action="index">Shop</a>
                    </li>
                    <li>
                        <a href="#">Mega menu</a>
                    </li>
                    <li>
                        <a asp-controller="contact" asp-action="index">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="hotline">
            <div class="hotline-icon">
                <img src="~/assets/images/theme/icons/icon-headphone-white.svg" alt="hotline">
            </div>
            <div class="hotline-call">
                <p>1900 - 888</p>
                <span>24/7 Support Center</span>
            </div>
        </div>

    </div>
</header>

<section id="home-slider">
    <div class="home-slider-content">
        <h2>What are you looking for?</h2>
        <form action="#">
            <input type="email" placeholder="Your email address">
            <button type="submit" class="subscribe-btn">Subscribe</button>
        </form>
        <ul>
            <li>
                <a href="#">Cake</a>
            </li>
            <li>
                <a href="#">Coffee</a>
            </li>
            <li>
                <a href="#">Pet Foods</a>
            </li>
            <li>
                <a href="#">Vegetables</a>
            </li>
        </ul>
    </div>
</section>

<section id="trending-items">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Trending items</h1>
        </div>

        <div class="row justify-content-evenly">

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-1-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-1-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="hot-badge">Hot</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Snack</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Seeds of Change Organic Quinoe Naturel</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>(4.5)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-2-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-2-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="sale-badge">Sale</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Hodo Foods</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">All Natural Italian-Style Chicken Meatballs</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(4.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">Stouffer</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$52.85</span>
                                <s>$55.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-3-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-3-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="new-badge">New</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Snack</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Angie's Boomchickapop Sweet & Salty</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(4.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">StarKist</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$48.85</span>
                                <s>$52.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-4-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-4-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Vegetables</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Foster Farms Takeout Crispy Classic</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>

                            <span>(3.5)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$17.85</span>
                                <s>$19.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-5-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-5-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="off-badge">-14%</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Pet foods</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Blue Diamond Almonds Lightly Naturel</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>(4.5)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$23.85</span>
                                <s>$25.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-6-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-6-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Hodo foods</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Chobani Complete Vanilla Greek Bottle</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(4.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$54.85</span>
                                <s>$55.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-7-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-7-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Meats</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Canada Dry Ginger Ale - 2 L Bottle</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>(4.5)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$32.85</span>
                                <s>$33.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-8-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-8-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="sale-badge">Sale</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Snack</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Encore Seafoods Stuffed Alaskan</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(4.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$35.85</span>
                                <s>$37.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-9-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-9-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="hot-badge">Hot</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Coffes</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Gorton's Beer Battered Fish Fillets</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span>(5.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">Old El Paso</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$23.85</span>
                                <s>$25.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-10-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-10-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Cream</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Haagen-Dazs Caramel Cone Ice Cream</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(3.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">Tyson</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$22.85</span>
                                <s>$24.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-1-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-1-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="hot-badge">Hot</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Snack</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Seeds of Change Organic Quinoe Naturel</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>(4.5)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$28.85</span>
                                <s>$32.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-2-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-2-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="sale-badge">Sale</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Hodo Foods</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">All Natural Italian-Style Chicken Meatballs</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(4.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">Stouffer</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$52.85</span>
                                <s>$55.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-3-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-3-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="new-badge">New</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Snack</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Angie's Boomchickapop Sweet & Salty</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(4.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">StarKist</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$48.85</span>
                                <s>$52.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-4-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-4-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Vegetables</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Foster Farms Takeout Crispy Classic</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>

                            <span>(3.5)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$17.85</span>
                                <s>$19.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-5-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-5-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="off-badge">-14%</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Pet foods</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Blue Diamond Almonds Lightly Naturel</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>(4.5)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$23.85</span>
                                <s>$25.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-6-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-6-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Hodo foods</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Chobani Complete Vanilla Greek Bottle</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(4.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$54.85</span>
                                <s>$55.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-7-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-7-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Meats</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Canada Dry Ginger Ale - 2 L Bottle</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <span>(4.5)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$32.85</span>
                                <s>$33.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-8-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-8-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="sale-badge">Sale</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Snack</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Encore Seafoods Stuffed Alaskan</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(4.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">NestFood</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$35.85</span>
                                <s>$37.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-9-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-9-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-badge">
                            <span class="hot-badge">Hot</span>
                        </div>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Coffes</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Gorton's Beer Battered Fish Fillets</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <span>(5.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">Old El Paso</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$23.85</span>
                                <s>$25.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-lg-1-5 col-md-4 col-sm-6 col-12">
                <div class="product-card">
                    <div class="product-card-top">
                        <a href="~/shop-product.html">
                            <img src="~/assets/images/products/product-10-1.jpg" alt="product" class="default-img">
                            <img src="~/assets/images/products/product-10-2.jpg" alt="product" class="hover-img">
                        </a>

                        <div class="product-action">
                            <a href="#">
                                <i class="fi-rs-heart"></i>
                            </a>
                            <a href="#">
                                <i class="fi-rs-shuffle"></i>
                            </a>
                            <a href="~/shop-product.html">
                                <i class="fi-rs-eye"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card-bottom">
                        <div class="product-category">
                            <a href="#">Cream</a>
                        </div>

                        <h2>
                            <a href="~/shop-product.html">Haagen-Dazs Caramel Cone Ice Cream</a>
                        </h2>

                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>(3.0)</span>
                        </div>

                        <div class="product-owner">
                            <p>By <a href="#">Tyson</a></p>
                        </div>

                        <div class="product-sale-info">
                            <div class="product-price">
                                <span>$22.85</span>
                                <s>$24.8</s>
                            </div>
                            <div class="add-cart">
                                <a href="#">
                                    <i class="fi-rs-shopping-cart"></i>
                                    <span>Add</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="deals">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Deals of the day</h1>
        </div>

        <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-deal" data-aos="fade-up" data-aos-delay="100">
                    <div class="deal-img">
                        <a href="#">
                            <img src="~/assets/images/banner/banner-5.png" alt="deal product">
                        </a>
                    </div>
                    <div class="deal-info">
                        <div class="deal-countdown">
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">1111</span>
                                <span class="cnt-period">Days</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">08</span>
                                <span class="cnt-period">Hours</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">44</span>
                                <span class="cnt-period">Mins</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">30</span>
                                <span class="cnt-period">Sec</span>
                            </span>
                        </div>
                        <div class="deal-content">
                            <h2>
                                <a href="#">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
                            </h2>

                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.5)</span>
                            </div>

                            <div class="product-owner">
                                <p>By <a href="#">NestFood</a></p>
                            </div>

                            <div class="product-sale-info">
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                                <div class="add-cart">
                                    <a href="#">
                                        <i class="fi-rs-shopping-cart"></i>
                                        <span>Add</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-deal" data-aos="fade-up" data-aos-delay="200">
                    <div class="deal-img">
                        <a href="#">
                            <img src="~/assets/images/banner/banner-6.png" alt="deal product">
                        </a>
                    </div>
                    <div class="deal-info">
                        <div class="deal-countdown">
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">1111</span>
                                <span class="cnt-period">Days</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">08</span>
                                <span class="cnt-period">Hours</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">44</span>
                                <span class="cnt-period">Mins</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">30</span>
                                <span class="cnt-period">Sec</span>
                            </span>
                        </div>
                        <div class="deal-content">
                            <h2>
                                <a href="#">Perdue Simply Smart Organics Gluten Free</a>
                            </h2>

                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.5)</span>
                            </div>

                            <div class="product-owner">
                                <p>By <a href="#">Old El Paso</a></p>
                            </div>

                            <div class="product-sale-info">
                                <div class="product-price">
                                    <span>$24.85</span>
                                    <s>$26.8</s>
                                </div>
                                <div class="add-cart">
                                    <a href="#">
                                        <i class="fi-rs-shopping-cart"></i>
                                        <span>Add</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-deal" data-aos="fade-up" data-aos-delay="300">
                    <div class="deal-img">
                        <a href="#">
                            <img src="~/assets/images/banner/banner-7.png" alt="deal product">
                        </a>
                    </div>
                    <div class="deal-info">
                        <div class="deal-countdown">
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">1111</span>
                                <span class="cnt-period">Days</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">08</span>
                                <span class="cnt-period">Hours</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">44</span>
                                <span class="cnt-period">Mins</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">30</span>
                                <span class="cnt-period">Sec</span>
                            </span>
                        </div>
                        <div class="deal-content">
                            <h2>
                                <a href="#">Signature Wood-Fired Mushroom and Caramelized</a>
                            </h2>

                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.5)</span>
                            </div>

                            <div class="product-owner">
                                <p>By <a href="#">Progresso</a></p>
                            </div>

                            <div class="product-sale-info">
                                <div class="product-price">
                                    <span>$12.85</span>
                                    <s>$13.8</s>
                                </div>
                                <div class="add-cart">
                                    <a href="#">
                                        <i class="fi-rs-shopping-cart"></i>
                                        <span>Add</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-deal" data-aos="fade-up" data-aos-delay="400">
                    <div class="deal-img">
                        <a href="#">
                            <img src="~/assets/images/banner/banner-8.png" alt="deal product">
                        </a>
                    </div>
                    <div class="deal-info">
                        <div class="deal-countdown">
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">1111</span>
                                <span class="cnt-period">Days</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">08</span>
                                <span class="cnt-period">Hours</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">44</span>
                                <span class="cnt-period">Mins</span>
                            </span>
                            <span class="cnt-box">
                                <span class="cnt-amount hover-up">30</span>
                                <span class="cnt-period">Sec</span>
                            </span>
                        </div>
                        <div class="deal-content">
                            <h2>
                                <a href="#">Simply Lemonade with Raspberry Juice</a>
                            </h2>

                            <div class="product-rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                                <span>(4.5)</span>
                            </div>

                            <div class="product-owner">
                                <p>By <a href="#">Yoplait</a></p>
                            </div>

                            <div class="product-sale-info">
                                <div class="product-price">
                                    <span>$15.85</span>
                                    <s>$16.8</s>
                                </div>
                                <div class="add-cart">
                                    <a href="#">
                                        <i class="fi-rs-shopping-cart"></i>
                                        <span>Add</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section id="top-products">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-sm-5 mb-md-0">
                <div class="top-product-box" data-aos="fade-up" data-aos-delay="100">
                    <h4>Top Selling</h4>

                    <div class="product-list">

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-1.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Nestle Original Coffee-Mate Coffee Creamer</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-2.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Nestle Original Coffee-Mate Coffee Creamer</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-3.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Nestle Original Coffee-Mate Coffee Creamer</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-sm-5 mb-md-0">
                <div class="top-product-box" data-aos="fade-up" data-aos-delay="200">
                    <h4>Trending Products</h4>

                    <div class="product-list">

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-4.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Organic Cage-Free Grade A Large Brown Eggs</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-5.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Seeds of Change Organic Quinoa, Brown, & Red Rice</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-6.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Naturally Flavored Cinnamon Vanilla Light Roast Coffee</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-sm-5 mb-md-0 d-none d-md-block">
                <div class="top-product-box" data-aos="fade-up" data-aos-delay="300">
                    <h4>Recently added</h4>

                    <div class="product-list">

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-7.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Pepperidge Farm Farmhouse Hearty White Bread</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-8.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Organic Frozen Triple Berry Blend</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-9.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Oroweat Country Buttermilk Bread</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-sm-5 mb-md-0 d-none d-md-block">
                <div class="top-product-box" data-aos="fade-up" data-aos-delay="400">
                    <h4>Top Rated</h4>

                    <div class="product-list">

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-10.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Nestle Original Coffee-Mate Coffee Creamer</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-11.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">Angie's Boomchickapop Sweet & Salty Kettle Corn</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                        <article class="row align-items-center hover-up">
                            <figure class="col-md-4 mb-0">
                                <a href="#">
                                    <img src="~/assets/images/products/thumbnail-12.jpg" alt="product">
                                </a>
                            </figure>
                            <div class="product-info col-md-8 mb-0">
                                <h6>
                                    <a href="#">All Natural Italian-Style Chicken Meatballs</a>
                                </h6>
                                <div class="product-rate">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star-half-stroke"></i>
                                    <span>(4.5)</span>
                                </div>
                                <div class="product-price">
                                    <span>$32.85</span>
                                    <s>$33.8</s>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>